@model WebApplication2.Models.LoginAccount

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>UserAccount</h4>
    <hr />

    @{var cookieLogged = Request.Cookies["Logged"];}
    @{var cookieName = Request.Cookies["Name"];}
    @if (cookieLogged != null)
    {
        if (Html.Logged(cookieLogged.Value, cookieName.Value))
        {
            <p>
                You are already logged in
            </p>
        }
        else
        {
            @Html.Partial("_LoginPartial_Account")}
    }
    else
    {
        @Html.Partial("_LoginPartial_Account")}




</div>
}
