@model WebApplication2.Models.RegisterAccount

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>UserAccount</h4>
    <hr />


    @{var cookieLogged = Request.Cookies["Logged"];}
    @{var cookieName = Request.Cookies["Name"];}
    @if (cookieLogged != null)
    {
        if (Html.Logged(cookieLogged.Value, cookieName.Value))
        {
            <p>
                You are already registered
            </p>
        }
        else
        {
            @Html.Partial("_RegisterPartial_Account")}
    }
    else
    {
        @Html.Partial("_RegisterPartial_Account")}



</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
